/* ------------------<БАЗОВІ СТИЛІ ПРОПИСАНІ В КОМАНДНОМУ ПРОЕКТІ---------- */
:root {

-font-logo: 'Film P3 Bold', sans-serif;

/* =================COLORS=================== */

-colors-border-address: rgba(243, 198, 83, 0.7);
-colors-border-btn-default: #FFFFFF;
-colors-border-btn-active: #FFFFFF;
-colors-text-btn-default: #F3C653;
-colors-text-btn-active: #F3C653;
-colors-bg-btn-default: rgba(0, 0, 0, 0.4);
-colors-bg-btn-active: #ffffff;
-colors-bg-btn-modal-default: #000000;
-colors-bg-btn-modal-active: #ffffff;

}

@font-face {
    /* font-family: 'Film P3', sans-serif; */
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;

    src: url('../fonts/FilmP3.ttf');
}
@font-face {
    font-family: 'Times New Roman', serif;
    src: url('../fonts/times-new-roman.ttf');
}
@font-face {
    font-family: 'Times New Roman Bold', serif;
    src: url('../fonts/times-new-roman-bold.ttf');
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
}


/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body{
    font-family: 'Film P3 Bold', sans-serif;
}

.list {
    
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.container {
    min-width: 320px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}


/* --------------------------------МОЇ СТИЛІ---------------------------------- */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



@media screen and (min-width: 414px) {

    .contacts.container {
        max-width: 414px
    }


    
}

/* ===============TABLET=============== */
@media screen and (min-width: 1024px) {
 




}


/* ===============DESKTOP=============== */
@media screen and (min-width: 1280px) {
 




}